<style>
  .landing-logo {
    width: 100%;
    height: auto;
    max-width: 450px;
    max-height: 450px;
  }

  .landing-header {
    text-align: center;
    width: 100%;
  }

  ul {
    list-style-type: none;
  }

  li {
    width: 100px;
    height: 40px;
    float: left;
    border-top: 1px dotted #cfcfcf;
    border-bottom: 1px dotted #cfcfcf;
  }

  a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
  }
</style>

<div>
  <div class="landing-header">
    <img class="landing-logo" src="/static/images/landing/new-veganizzm-logo.png">
    <ul class="landing-navigation">
      <li><a href="#">About</a></li>
      <li><a href="#">Why vegan?</a></li>
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>