<style>
  .landing-logo {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
  }

  .landing-header {
    text-align: center;
    width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px dotted #cfcfcf;
    border-top: 1px dotted #cfcfcf;
    text-align:center;
  }

  li { 
    display: inline-block;
  }

  a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  .icon, .test {
    display: none;
  }


  @media screen and (max-width:680px) {
    ul li:not(:first-child) {
      display: none;
    }

    ul li.icon {
      float: right;
      display: inline-block;
    }

    .test {
      float: left;
      display: inline-block;
    }
  }

  @media screen and (max-width:680px) {
    ul {
      position: relative;
    }

    ul li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .test {
      float: left;
      display: inline-block;
    }

    ul li {
      float: none;
      display: inline;
    }
    ul li a {
      display: block;
      text-align: left;
    }
  }  

</style>

<div>
  <div class="landing-header">
    <img class="landing-logo" src="/static/images/landing/new-veganizzm-logo.png">
    <ul class="landing-navigation">
      <li class="test"><a href="#">Menu and Search</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Why vegan?</a></li>
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Contact</a></li>
      <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
      </li>     
    </ul>
  </div>
</div>