<style>
  .two-column-layout {
    border: solid green;
  }

  .social-links a {
    text-decoration: none;
  }

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.columns-container, footer, header { position: relative; margin: .5em; }

.left-column, .right-column, footer, header {  border: 1px solid  #ccc; padding: 1.25em; }

.left-column { margin-bottom: .5em; }

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .left-column { 
    margin-right: 19.5em; 
  }

  .right-column { 
    position: absolute; top: 0; right: 0; width: 18.75em; 
  }   
}

</style>

<div>
  {% include "header.html" %}
  <div class="columns-container">
    <div class="left-column">
      <h2>Left Column</h2>
      <p> PARAGRAPH 1 </p>
      <p> PARAGRAPH 2 </p>
    </div>
    <div class="right-column">
      <div class="social-links">
        <a href="http://instagram.com/veganizzm" target="_blank"><img src="/static/images/landing/instagram.png">
        <a href="http://pinterest.com/veganizzm" target="_blank"><img src="/static/images/landing/pinterest.png">
        <a href="https://twitter.com/veganizzm" target="_blank"><img src="/static/images/landing/twitter.png">
        <a href="https://www.facebook.com/veganizzm" target="_blank"><img src="/static/images/landing/facebook.png">
      </div>
    </div>
  </div>
  <!-- TODO IZZY: move to template -->
  <footer>
    <p><a href="#">Contact</a> | <a href="#">Sitemap</a> | <a href="#">Privacy Policy</a></p>
    <p>&copy;2016 Copyright Veganizzm</p>
  </footer>
</div>