<style>
  .landing-title-background {
    background: url("/static/images/landing/title-background.jpg") repeat;
  }

  .landing-title {
    background: url("/static/images/landing/title-logo.png") no-repeat center;
    min-width: 350px;
    min-height: 200px;
  }

</style>
<div>
  <div class="landing-title-background">
    <div class="landing-title"></div>
    <!--
    <ul class="landing-navigation">
      <li class="landing-navigation-about"><a href="#">About</a></li>
      <li class="landing-navigation-recipes"><a href="#">Why Vegan</a></li>
      <li class="landing-navigation-why-vegan"><a href="#">Recipes</a></li>
      <li class="landing-navigation-press"><a href="#">Press</a></li>
      <li class="landing-navigation-contact"><a href="#">Contact</a></li>
    </ul>
    -->
  </div>
</div>
